<div class="main-container">
    <div class="content-wrapper">
        <div class="painel">
            <div class="breadcrumb" *ngIf="mostrarBreadcrumb">
                <span class="breadcrumb-item" routerLink="/painelcliente">Painel Cliente</span>
                <i class="pi pi-angle-right breadcrumb-separator"></i>
                <span class="breadcrumb-current">{{ paginaAtual }}</span>
            </div>

            <div *ngIf="!temRotaFilha">
                <h2>Seja bem-vindo ao Aureus!</h2>
                <p>
                    Aqui você pode planejar e conquistar o financiamento do seu veículo de forma simples, segura e transparente. Comece fazendo uma simulação rápida e envie sua solicitação. Dê o primeiro passo para realizar o seu sonho!
                </p>
                <button pButton class="simulacao" label="Simulação" routerLink="/painelcliente/simulacao"></button>
                <br>
            </div>

            <router-outlet *ngIf="temRotaFilha"></router-outlet>
        </div>
    </div>
</div>
