.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #ffffff00;
}

.content-wrapper {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    box-sizing: border-box;
}

.painel h1 {
    margin-bottom: 1rem;
    color: #00235D;
}

.painel p {
    margin-bottom: 3rem;
    color: #6b7280;
    line-height: 1.6;
    font-size: 1rem;
}

.p-inputtext{
    width: 50%;
    padding: 12px;
}
.p-input-icon-left input {
  /* Espaço consistente para o ícone */
}

.p-input-icon-left {
    padding-top: 10px;
}
.p-input-icon-left input {
    padding-left: 2.5rem
}