<div class="main-container">
    <div class="content-wrapper">
        <div class="painel">
            <h1>Faça buscas</h1>
            <p>Pesquise pelo nome do cliente para encontrar seus veículos.</p>
            <div class="p-input-icon-left">
            <i class="pi pi-search" aria-hidden="true"></i>
            <input
                type="text"
                pInputText
                placeholder="Insira o nome do cliente"
                [(ngModel)]="clientePesquisado"
                aria-label="Pesquisar cliente"
                #searchInput
            />
            </div>

        </div>
    </div>

  
</div>
