<div class="main-container">
    <div class="content-wrapper">
       <div class="painel">
            <h1>Solicitações em Aberto</h1>
            <p>Aqui você pode acompanhar todas as solicitações de financiamento pendentes. Total: {{ totalSolicitacoes }}</p>
            <div class="card">
                <p *ngIf="carregando">Carregando solicitações...</p>

                <div *ngIf="!carregando">
                    <p-table [value]="solicitacoes" styleClass="p-datatable-striped" [rowHover]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Cliente</th>
                                <th>Veículo</th>
                                <th>Valor do Veículo</th>
                                <th>Entrada</th>
                                <th>Parcelas</th>
                                <th>Status</th>
                                <th>Data Solicitação</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-solicitacao>
                            <tr style="cursor: pointer;" (click)="visualizarSolicitacao(solicitacao.id_contrato)">
                                <td>{{ solicitacao.nome_cliente }}</td>
                                <td>{{ solicitacao.marca_veiculo }} {{ solicitacao.modelo_veiculo }}</td>
                                <td>R$ {{ solicitacao.valor_veiculo | number:'1.2-2' }}</td>
                                <td>R$ {{ solicitacao.valor_entrada | number:'1.2-2' }}</td>
                                <td>{{ solicitacao.qtde_parcelas }}x</td>
                                <td>
                                    <span [class]="'status-badge status-' + solicitacao.status.toLowerCase().replace('_', '-')">
                                        {{ solicitacao.status }}
                                    </span>
                                </td>
                                <td>{{ solicitacao.data_emissao | date:'dd/MM/yyyy' }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
       </div>
    </div>
</div>

<p-toast></p-toast>

