<div class="main-painel">
  <div class="esquerda-painel">
    <div class="sidebar">


    </div>
  </div>

  <div class="direita-painel">
    <div class="painel">
      <h2>Consultar</h2>
      <p>
        Seja bem-vindo ao Aureus! Aqui você pode planejar e conquistar o financiamento do seu veículo de forma simples, segura e transparente. Comece fazendo uma simulação rápida ou envie sua solicitação e dê o primeiro passo para realizar o seu sonho sobre quatro rodas.
      </p>
      <input 
        type="text" 
        pInputText 
        [(ngModel)]="search" 
        placeholder="Pesquisar..."    
      />


    </div>
  </div>
</div>


