
<div class="app-container" *ngIf="mostrarLayout">

  <header class="header">
    <div class="header-left">
      <a class="logo" [routerLink]="obterRotaInicio()">AUREUS</a>
    </div>

    <div class="header-right">
      <p-menubar
        [model]="itensMenuUsuario"
        [autoDisplay]="false">
      </p-menubar>
    </div>
  </header>

  <aside class="sidebar">
    <nav class="nav-menu">
      <a class="nav-item"
         [routerLink]="obterRotaPainel()"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: false }">
        <div class="nav-indicator"></div>
        <i class="pi pi-list nav-icon"></i>
        <span class="nav-text">Painel</span>
      </a>

      <a class="nav-item"
         *ngIf="mostrarMeusContratos()"
         routerLink="/meuscontratos"
         routerLinkActive="active">
        <div class="nav-indicator"></div>
        <i class="pi pi-file nav-icon"></i>
        <span class="nav-text">Meus contratos</span>
      </a>

      <a class="nav-item"
         *ngIf="mostrarContratosAdmin()"
         routerLink="/admin/contratos"
         routerLinkActive="active">
        <div class="nav-indicator"></div>
        <i class="pi pi-file nav-icon"></i>
        <span class="nav-text">Contratos</span>
      </a>

    </nav>
  </aside>


  <main class="main-content">
    <div class="content-card">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<router-outlet *ngIf="!mostrarLayout"></router-outlet>
