<div class="main-container">

    <div class="content-wrapper">
       <div class="painel">
            <h1>Contratos do cliente</h1>
            <p>Aqui está todos os contratos de veículos do seu cliente.</p>
            <div class="card">
                <p *ngIf="loading">Carregando contratos...</p>

                <div *ngIf="!loading">
                    
                    <!-- PrimeNG Table -->
                    <p-table [value]="contratos" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Número do Contrato</th>
                                <th>ID Cliente</th>
                                <th>ID Veículo</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contrato>
                            <tr>
                                <td>{{ contrato.numero_contrato }}</td>
                                <td>{{ contrato.id_cliente }}</td>
                                <td>{{ contrato.id_veiculo }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
       </div>
    </div>
</div>
