<div class="main-container">
    <div class="content-wrapper">
       <div class="painel">
            <h1>Contratos Vigentes</h1>
            <p>Aqui você pode acompanhar todos os contratos vigentes. Total: {{ totalContratos }}</p>
            <div class="card">
                <p *ngIf="carregando">Carregando contratos...</p>

                <div *ngIf="!carregando">
                    <p-table [value]="contratos" styleClass="p-datatable-striped" [rowHover]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Número do Contrato</th>
                                <th>Cliente</th>
                                <th>Status</th>
                                <th>Data Emissão</th>
                                <th>Valor Total</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contrato>
                            <tr style="cursor: pointer;" (click)="visualizarContrato(contrato.id_contrato)">
                                <td>{{ contrato.numero_contrato }}</td>
                                <td>{{ contrato.nome_cliente }}</td>
                                <td>
                                    <span [class]="'status-badge status-' + contrato.status.toLowerCase()">
                                        {{ contrato.status }}
                                    </span>
                                </td>
                                <td>{{ contrato.data_emissao | date:'dd/MM/yyyy' }}</td>
                                <td>R$ {{ contrato.valor_total | number:'1.2-2' }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
       </div>
    </div>
</div>

<p-toast></p-toast>
